.floating-input-container {
  position: relative;
  margin-bottom: 1rem;
  height: 50px;
  width: 30%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.floating-input-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  transition: 0.3s ease-out;
}

.floating-input-container.focused .floating-input-label {
  top: 5px;
  bottom: unset;
  margin: unset;
  font-size: 0.6rem;
  color: #007acc;
}


.floating-input-container > input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
