h5 {
  color: blue;
}
/* DetailsSkeleton.css */

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.details-skeleton {
  animation: pulse 2s infinite;
  margin-bottom: 0.5rem;
}

.details-skeleton > div {
  background-color: #D2CFE2;
  width: 12rem;
  height: 1rem;
  border-radius: 10px;
}

/* Card Skeleton */

.card-skeleton {
  width: 200px;
  border: 2px solid #E3E8EF;
  border-radius: 20px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 0;
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}

@media (min-width: 768px) {
  .card-skeleton {
    flex-direction: column;
    justify-content: center;
    margin-left: unset;
  }
}

/* Table Skeleton */

.table-skeleton {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 2px 0;
  padding: 0.75rem;
  width: 500px
}

.table-skeleton > .details-skeleton > div {
  width: 100%;
}

