.input-wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 6px;
  width: 200px;
  background: #f4f6f9;
  border-radius: 12px;
  height: 50px;
  position: relative;
  margin: 10px 0;
}

input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  color: #8196b3;
  font-size: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  column-gap: 2rem;
  padding: 1em;
}

input[type='date']::-webkit-calendar-picker-indicator, input[type='time']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}